<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	
<!--김경건-->

<insert id="insertMember"
	parameterType="kr.co.iei.member.model.vo.Member">
	INSERT INTO member_tbl1
	(member_id, member_pw, member_name, member_grade, member_nickname,
	member_email,
	member_thumb,
	enroll_date, member_status, manner_score, trade_count)
	VALUES
	(#{memberId}, #{memberPw}, #{memberName}, 2, #{memberNickname},
	#{memberEmail}, #{memberThumb}, SYSDATE, 0,
	0, 0)
</insert>

<!--회원가입 시 포인트 테이블 자동 생성 -->
<insert id="insertMemberPoint" parameterType="string">
    INSERT INTO MEMBER_POINT_TBL (MEMBER_ID, TOTAL_POINT)
    VALUES (#{memberId}, 0)
</insert>


<!--김경건-->

<select id="selectOneMember" resultType="member">
	select * from member_tbl1
	where member_id =#{memberId}


</select>



<select id="findIdByEmail" parameterType="string" resultType="string">

<!--원래라면  
김경건
		select memberId
		from member_tbl
		where member_email = ?
		이 방식이 맞지만 내가 현재 하나의 이메일로 다수의 
		아이디를 양산한 탓에 리스트를 설정하든가 아니면
		아래 로직처럼 fetch first 1 row only 설정을 통해 다수의 아이디중
		하나만 조회하게 했음.
		
		-->
select member_id
from member_tbl1
where member_email = #{memberEmail}
fetch first 1 row only


<!--select memberId
		from member_tbl
		where member_email = ?
		팀원들 작업이 다 끝날 때 데이터베이스에 유니크 설정을
		걸어두고 위에 있는 구문 다시 부활시킬 예정.
		-->

</select>

<!--아이디와 이메일 조회해와서 비밀번호 페이지 열기김경건-->
<select id="existsByIdAndEmail"  resultType="Integer">
	SELECT 1
	FROM member_tbl1
	WHERE member_id = #{memberId}
	AND member_email = #{memberEmail}
</select>

 

	
	
<update id="resetPw">
	update member_tbl1
	set member_pw =#{memberPw}
	where member_id = #{memberId}
</update>



	<!--..............................................................-->

<select id="selectMemberList" resultType="member">
		select
			member_id,
			member_name,
			member_email,
			enroll_date,
			member_grade,
			member_status
		from member_tbl1
	</select>

	<select id="selectCarbonStats" resultType="map">
		select
			count(*) as memberCount,
			sum(nvl(member_co2, 0)) as totalCo2
		from member_tbl1
		where member_status &lt;&gt; 2
		and nvl(member_co2, 0) > 0
	</select>
	<update id="updateMemberInfo">
		update member_tbl1 set member_name = nvl(#{memberName}, member_name),
			member_nickname=#{memberNickname},
			member_email=#{memberEmail}
		where member_id=#{memberId}
	</update>
	<select id="getOneMemberInfo" resultType="member">
		select member_name,
			member_nickname,
			member_email,
			member_thumb,
			member_co2 AS memberCo2,
			enroll_date,
			member_status
		from member_tbl1
		where member_id = #{memberId}
	</select>
	<select id="memberPw" resultType="member">
		select member_pw from member_tbl1 where member_id =#{memberId}
	</select>
	<update id="updatePw">
		update member_tbl1 set member_pw=#{memberPw} where member_id = #{memberId}
	</update>
	<update id="updateMemberThumb">
		update member_tbl1 set member_thumb=#{memberThumb} where member_id = #{memberId}
	</update>

	<!-- 포인트 조회 -->
	<select id="selectMemberPoint" parameterType="string" resultType="Integer">
	SELECT TOTAL_POINT
	FROM MEMBER_POINT_TBL
	WHERE MEMBER_ID = #{memberId}
</select>

<update id="decreasePoint">
    UPDATE MEMBER_POINT_TBL
    SET TOTAL_POINT = TOTAL_POINT - #{point}
    WHERE MEMBER_ID = #{memberId}
</update>
<update id="leaveMember">
	update member_tbl1 set member_status = 2 where member_id =#{memberId}
</update>

<insert id ="insertLog">
	insert into member_log_tbl (member_log_no, member_id, log_ip, log_time, log_action, log_device, log_result, log_location, log_detail, log_alert)
	values (
		log_seq.nextval,
		#{memberId},
		#{logIp},
		sysdate,
		#{logAction},
		#{logDevice},
		#{logResult},
		#{logLocation},
		#{logDetail},
		#{logAlert}
	)
</insert>

<select id="getLastLocation" resultType="String">
	<![CDATA[
	select * from (
    	select log_location 
    	from member_log_tbl 
    	where member_id = #{memberId} and log_action = '로그인'
    	order by log_time desc
) where rownum <= 1
]]>
</select>

<select id="getLockInfo" resultType="map">
	select lock_until as "lockUntil", lock_reason as "lockReason", member_status as "memberStatus"
	from member_tbl1 
	where member_id = #{memberId}
</select>

<select id="getFailCount">
	SELECT COUNT(*) FROM member_log_tbl
    WHERE member_id = #{memberId}
    AND log_action = '로그인실패'
    AND log_time > SYSDATE - (1/1440)	<!-- 60분 * 24 = 1440 sysdate - (1/1440) = 현재시간 1분전  -->
</select>

<update id="updateLockUntil">
	update member_tbl1 set 
	lock_until = sysdate + (5/1440), <!-- 현재시간 5분후 -->
	lock_reason = '로그인 3회 실패로 일시정지 되었습니다. 잠시 후 다시 시도해주세요'
	where member_id = #{memberId}	
</update>

<select id="selectClist" resultType="Member">
	select member_thumb, member_nickname, member_co2 from member_tbl1 where member_co2 is not null and member_id != 'admin00' order by member_co2 desc
	offset 0 rows fetch next 15 rows only
</select>

	<!-- 포인트 이력 조회 -->
	<select id="selectPointHistory" parameterType="string" resultType="pointHistory">
	    SELECT
	        POINT_NO AS pointNo,
	        MEMBER_ID AS memberId,
	        POINT_CHANGE AS pointChange,
	        POINT_TYPE AS pointType,
	        POINT_REASON AS pointReason,
	        TO_CHAR(CREATED_DATE, 'YYYY-MM-DD HH24:MI') AS createdDate
	    FROM POINT_TBL
	    WHERE MEMBER_ID = #{memberId}
	    ORDER BY POINT_NO DESC
	</select>

		<insert id="insertPointHistory" parameterType="map">
		    INSERT INTO POINT_TBL (
		        POINT_NO,
		        MEMBER_ID,
		        POINT_CHANGE,
		        POINT_TYPE,
		        POINT_REASON,
		        CREATED_DATE
		    ) VALUES (
		        POINT_SEQ.NEXTVAL,
		        #{memberId},
		        #{pointChange},
		        #{pointType},
		        #{pointReason},
		        SYSDATE
		    )
		</insert>

	<update id="unlockExpiredMembers">
	<![CDATA[
		update member_tbl1 set
			member_status = 0
		where member_status = 3
		and lock_until <= sysdate
		]]>
	</update>
	
</mapper>
